<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Profile</title>
</head>
<body>
  <div style="margin: 1.5%;">
    <a href="/course/"><button class="btn btn-secondary">Back to Course</button></a><br><br>
    <h2>Profile</h2>
    <table class="table table-bordered">
      <tr>
        <th>Username</th>
        <td><%=result[0].userName%></td>
      </tr>
      <tr>
        <th>Full Name</th>
        <td><%=result[0].Profile.firstName%> <%=result[0].Profile.lastName%></td>
      </tr>
      <tr>
        <th>Role</th>
        <td><%=result[0].role%></td>
      </tr>
      <tr>
        <th>Age</th>
        <td><%=result[0].Profile.age%> years old</td>
      </tr>
    </table>
  </div>
</body>
</html>